coordinator={{PRESTO_COORDINATOR}}
node-scheduler.include-coordinator={{PRESTO_INCLUDE_COORDINATOR}}
http-server.http.port={{PRESTO_HTTP_PORT}}
query.max-memory={{PRESTO_QUERY_MAX_MEMORY}}
query.max-memory-per-node={{PRESTO_QUERY_MAX_MEMORY_PER_NODE}}
discovery-server.enabled=true
discovery.uri={{PRESTO_DISCOVERY_URI}}

exchange.http-client.max-connections=1000
exchange.http-client.max-connections-per-server=1000
exchange.http-client.connect-timeout=1m
exchange.http-client.idle-timeout=1m

scheduler.http-client.max-connections=1000
scheduler.http-client.max-connections-per-server=1000
scheduler.http-client.connect-timeout=1m
scheduler.http-client.idle-timeout=1m

query.client.timeout=5m
query.min-expire-age=30m