connector.name=hive-hadoop2
hive.metastore.uri={{HIVE_METASTORE_URI}}
hive.non-managed-table-writes-enabled=false
hive.s3.use-instance-credentials=false
hive.s3.aws-access-key={{S3_AWS_ACCESS_KEY}}
hive.s3.aws-secret-key={{S3_AWS_SECRET_KEY}}
hive.s3.pin-client-to-current-region=true
hive.recursive-directories=true
hive.parquet.use-column-names=true
hive.parquet-optimized-reader.enabled=true
hive.parquet-predicate-pushdown.enabled=true
hive.immutable-partitions=false

