connector.name=hive-hadoop2
hive.metastore.uri={{HIVE_METASTORE_URI}}
hive.config.resources={PRESTO_CONFIG_DIR}/wasb-site.xml
hive.recursive-directories=true
hive.parquet.use-column-names=true
hive.parquet-optimized-reader.enabled=true
hive.parquet-predicate-pushdown.enabled=true
hive.immutable-partitions=false
